/* Body of the About Page */
body{
  margin: 0;
  padding: 0;
  
}

/* Header Section Format */
h1.top{
  margin: 0;
  padding: 0;
  color: white;
}

h1.center{
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  color: #4aaaa5;
  border-bottom: 3px solid #cccccc;
}

h1.easyimage{
  margin:0;
  padding: 0;
  position: absolute;
  background: #4aaaa5;
  color: white;
  padding-top: 20px;
  margin-top: 100px;
  width: 216px;
  height: 50px;
  z-index: 2;
  font-weight: normal;

}

h1.modimage{
  margin:0;
  padding: 0;
  position: absolute;
  background: #4aaaa5;
  color: white;
  padding-top: 20px;
  margin-top: 100px;
  width: 216px;
  height: 50px;
  z-index: 2;
  font-weight: normal;

}

h1.hardimage{
  margin:0;
  padding: 0;
  position: absolute;
  background: #4aaaa5;
  color: white;
  padding-top: 20px;
  margin-top: 100px;
  width: 216px;
  height: 50px;
  z-index: 2;
  font-weight: normal;

}

h2{
  color: #777777;
}
h3{
  display: inline;
  position: relative;
}

/* Links Format */
a.nav{
  padding: 0px 25px 0px 25px;
  color: #cccccc;
  text-decoration: none;
}

a.nav:hover{
  padding: 28px 25px 28px 25px;
  background: #cccccc;
  color: white;
  text-decoration: none;

}

a.currentpage{
  padding: 28px 25px 28px 25px;
  background: #4aaaa5;
  color: white;
  text-decoration: none;
}

a.easy{
  float: left;
  width: 215px;
  height: 175px;
  display: block;
  background-image: url("../images/scratch_easy.PNG");
  border: 0.5px solid #cccccc;
  z-index: 1;
  position: relative;

}

a.easy:hover{
  width: 215px;
  height: 175px;
  display: block;
  background-image: url("../images/scratch_easy_hover.PNG");
  z-index: 1;
  position: relative;
}

a.mod{
  float: left;
  width: 215px;
  height: 175px;
  display: block;
  background-image: url("../images/scratch_moderate.PNG");
  border: 0.5px solid #cccccc;
  z-index: 1;
  position: relative;
  
}

a.mod:hover{
  width: 215px;
  height: 175px;
  display: block;
  background-image: url("../images/scratch_moderate_hover.PNG");
  
  
}

a.hard{
  float: left;
  width: 215px;
  height: 175px;
  display: block;
  background-image: url("../images/scratch_hard.PNG");
  border: 0.5px solid #cccccc;
  z-index: 1;
  position: relative;

}

a.hard:hover{
  width: 215px;
  height: 175px;
  display: block;
  background-image: url("../images/scratch_hard_hover.PNG");

}

/* Paragraph Format */
p{
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

/* image format */
img.profilepic{
  margin: 25px 30px 0 0;
  border: 1px solid #cccccc;
  float: left;
}

/* Containers Format */
div.top{
  position: static;
  margin: 0;
  height: 75px;
  border-bottom: 2px solid #cccccc;
  background: white;
  position: relative;

}

div.middle{
  padding: 98px 200px 95px 200px;
  background-image: url("../images/off_white_background.PNG");
  background-size: contain;
}

div.bottom{
  text-align: center;

}

div.container{
  position: relative;
  text-align: center;
  float: left;
  width: 215px;
  height: 175px;
  margin: 20px;
}


/* Sections Format */
header{
  float: left;
  margin-left: 10%;
  padding: 19px;
  width: 15%;
  background: #4aaaa5;
  text-align: center;
  min-width: 250px;
}

nav{
  float: right;
  padding: 27px 40px 27px 40px;
}

article{
  position: relative;
  padding: 40px 30px 40px 30px;
  height: 500px;
  width: 95%;
  border: 1px solid #cccccc;
  background: white;
  text-align: left;
  overflow-y: scroll;

}


footer{
  position: relative;
  bottom: 0;
  height: 75px;
  border-top: 10px solid #4aaaa5;
  background: #666666;
  color: white;

}

/* Form Properties */

input[type=text]{
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
  width: 95%;
  border-radius: 4px;
  border: 1px solid #cccccc;
  padding: 10px 15px;
}

input[type=submit]{
  height: 35px;
  width: 100%;
  background: #4aaaa5;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  border-radius: 4px;
  border: 1px solid #cccccc;
  padding: 10px 15px;

}

input[type=submit]:hover{
  background: #429894;
  color: white;
  border-radius: 4px;
  border: 1px solid #cccccc;
  padding: 10px 15px;

}

textarea{
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
  width: 95%;
  height: 200px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  padding: 10px 15px;
}

/* media queries addition */
@media only screen and (max-width: 980px) {
  header {
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 2%;
  }
  nav{
    padding: 27px 40px 27px 20px;
  }

  div.middle{
    padding: 75px 100px 125px 100px;
  }
  
}

@media only screen and (max-width: 768px) {
  header {
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 2%;
  }

  nav{
    padding: 27px 0px 27px 0px;
  }

  div.middle{
    padding: 45px 80px 135px 80px;
  }
}

@media only screen and (max-width: 640px) {
  header {
    margin-left: 0;
    width: 96%;
  }

  nav{
    background: white;
    width: 100%;
    text-align: center;
  }
  h3{
    margin-left: 10%
  }

  div.middle{
    padding: 100px 50px 100px 50px;
  }
}