.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.contact {
  background: url('../images/09BLACKHOLEJP1-superJumbo.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


a.portfolioTitle{
  color: white;
}

a.portfolioTitle:hover{
  color: #343A40;
  text-decoration: none;
}

a.githubButton{
  color: #343A40;
}

a.githubButton:hover{
  color: white;
  text-decoration: none;
}